/* slider scrollbar */

.slider-container::-webkit-scrollbar {
    height: 6px;
}

.slider-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}


/* card style */

.cat-item {
    background: #fff;
    transition: 0.3s;
    border: 1px solid #eee;
}

.cat-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}