/* slider scrollbar */

.slider-container::-webkit-scrollbar {
    height: 6px;
}

.slider-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}


/* card style */

.cat-item {
    background: #fff;
    transition: 0.3s;
    border: 1px solid #eee;
}

.cat-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.sub-cat-item {
    transition: 0.2s;
}

.sub-cat-item:hover {
    color: #0d6efd;
    text-decoration: underline;
}

.dashboard-card {
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.icon-box {
    width: 55px;
    height: 55px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.dashboard-card {
    padding: 25px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.icon-box {
    width: 55px;
    height: 55px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.clickable:active {
    transform: scale(0.98);
}

.admin-sidebar {
    width: 240px;
    height: 100vh;
    background: #111827;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-menu {
    padding: 15px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    color: #cbd5e1;
}

.sidebar-item:hover {
    background: #1f2937;
    color: #fff;
}

.sidebar-item.active {
    background: #2563eb;
    color: #fff;
    font-weight: 500;
}

.sidebar-item .icon {
    font-size: 16px;
}

.sidebar-footer {
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.logout {
    color: #f87171;
}

.logout:hover {
    background: #7f1d1d;
    color: #fff;
}